*{
    padding: 0%;
    margin: 0;
}

body{
    background-color: whitesmoke;
}

.um{
    position: absolute;
    font-size: large;
    top: 45%;
    left: 34%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nick{
    position: absolute;
    font-size: large;
    top: 47px;
    left: 38%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sett{
    position: absolute;
    top: 100px;
    left: 250px;
}

.lulu{
    position: absolute;
    top: 100px;
    left: 900px;
}

.zed{
    position: absolute;
    top: 400px;
    left: 300px;
}

.kassadin{
    position: absolute;
    top: 400px;
    left: 850px;
}

.infos{
    margin-top: 730px;
    background-color: rgb(196, 195, 195);
    width: 100%;
    height: 500px;
    box-shadow: rgb(0, 0, 0) 0px 2px 15px;
    position: absolute;
}

h2{
    position: absolute;
    top: 40px;
    left: 40%;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lane{
    position: absolute;
    left: 615px;
    top: 260px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lidarr{
    position: absolute;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 90px;
    left: 40%;
}

.top{
    position: absolute;
    top: 1050px;
    left: 630px;
}

.jg{
    position: absolute;
    top: 1050px;
    left: 765px;
}

.mid{
    position: absolute;
    top: 1120px;
    left: 700px;
}

button {
    transition-duration: 0.4s;
    background-color: #4caf4f00;
    border-color: #000000;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }

  button:hover {
    background-color: #ffffff;
    color: white;
  }
  
  button a{
    text-decoration: none;
    color: #000000;
    }
  


